<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

    <h1>☕ Admin Dashboard</h1>

    <hr>

    <h3>Admin Controls</h3>

    <ul>
        <li>
            <a href="/admin/tea">
                Manage Tea
            </a>
        </li>

        <li>
            <a href="#">
                View Orders
            </a>
        </li>

        <li>
            <a href="#">
                View Users
            </a>
        </li>

        <li>
            <a href="/logout">
                Logout
            </a>
        </li>
    </ul>

</body>
</html>