<!DOCTYPE html>
<html>

<head>
    <title>Register</title>

    <!-- FAVICON - Full Package -->
    <!-- ========================================== -->
    <link rel="icon" type="image/x-icon" href="../static/favicon_io/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon_io/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon_io/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/favicon_io/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../static/favicon_io/android-chrome-512x512.png">
    <link rel="manifest" href="../static/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>

<body>

    <div class="register-box">

        <h2>Create Account</h2>

        <form action="/register" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Full Name"
                required>

            <input
                type="email"
                name="email"
                placeholder="Email"
                required>

            <input
                type="password"
                name="password"
                placeholder="Password"
                required>

            <button
                type="submit"
                id="registerBtn">
                Register
            </button>

        </form>

        <p>
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</body>

</html>